<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Register | Flask</title>

    
</head>

<body>
   <div class= "login-page">
      <div class="form">
        <image source class="image" height="100px" width="100px" src="static/logo.png" />
        <form class= "register-form" method= "POST">
          <h4 style="color: white; font-family: 'Segoe UI';">Add New Admin</h4>
          <br>
          <input type="text" placeholder="Write Admin Name here" name="aname" id="aname"/>
          <input type="text" placeholder="Write Password here" name="apassword" id="apassword"/>
          <input type="text" placeholder="Write Email Address here" name="amail" id="amail"/>
          <button>Create</button>
          <p class="message">Already Registered? <a href="/adminlogin">Login here</a></p>
        </form>
          
      </div>

  </div>
  <footer class="page-footer font-small bg-primary ">

    <div class="footer-copyright text-center py-3" style="color: white;">Developed by:
        <a style="color: white;" > Saif Ali</a>

  </footer> 

</body>
</html>